In [1]:
#
###### https://github.com/LucaCanali/Miscellaneous/blob/master/Pyspark_SQL_Magic_Jupyter/IPython_Pyspark_SQL_Magic.py
#
#
# IPython magic functions to use with Pyspark and Spark SQL
# The following code is intended as examples of shorcuts to simplify the use of SQL in pyspark
# The defined functions are:
#
# %sql <statement>          - return a Spark DataFrame for lazy evaluation of the SQL
# %sql_show <statement>     - run the SQL statement and show max_show_lines (50) lines
# %sql_display <statement>  - run the SQL statement and display the results using a HTML table 
#                           - this is implemented passing via Pandas and displays up to max_show_lines (50)
# %sql_explain <statement>  - display the execution plan of the SQL statement
#
# Use: %<magic> for line magic or %%<magic> for cell magic.
#
# Author: Luca.Canali@cern.ch
# September 2016
#

from IPython.core.magic import register_line_cell_magic

# Configuration parameters
max_show_lines = 50         # Limit on the number of lines to show with %sql_show and %sql_display
detailed_explain = True     # Set to False if you want to see only the physical plan when running explain


@register_line_cell_magic
def sql(line, cell=None):
    "Return a Spark DataFrame for lazy evaluation of the sql. Use: %sql or %%sql"
    val = cell if cell is not None else line 
    return sqlContext.sql(val)

@register_line_cell_magic
def sql_show(line, cell=None):
    "Execute sql and show the first max_show_lines lines. Use: %sql_show or %%sql_show"
    val = cell if cell is not None else line 
    return sqlContext.sql(val).show(max_show_lines) 

@register_line_cell_magic
def sql_display(line, cell=None):
    """Execute sql and convert results to Pandas DataFrame for pretty display or further processing.
    Use: %sql_display or %%sql_display"""
    val = cell if cell is not None else line 
    return sqlContext.sql(val).limit(max_show_lines).toPandas() 

@register_line_cell_magic
def sql_explain(line, cell=None):
    "Display the execution plan of the sql. Use: %sql_explain or %%sql_explain"
    val = cell if cell is not None else line 
    return sqlContext.sql(val).explain(detailed_explain)
#

In [2]:
##############################
###### Load The Delta   ######
##############################
###
### Input delta in folder :  /data
anldate="2020-10-27"
my_input_csv_table="World_v2--Confirmed-1DayForecast--train_"+anldate+"-Copy1.csv"
delta_location_covid19="file:///home/notebookuser/notebooks/data/delta_daily-covid19-global-analysis/"
###
######
##############################Execution##########################
import findspark
findspark.init()
#
import pyspark
from pyspark.sql import functions as pfunc
from pyspark.sql import SQLContext
from pyspark.sql import Window, types
import re
import pandas as pd
import numpy as np
from pandas import DataFrame
from pyspark.sql.types import IntegerType
from pyspark.sql.types import FloatType
from pyspark.sql.functions import udf
from pyspark.sql.functions import *
from scipy.stats import kstest
from scipy import stats
#
import subprocess
#
sc = pyspark.SparkContext(appName="Daily-Covid19-Global-Analysis")
sqlContext = SQLContext(sc)
#
#
internal_csv_files="file:///home/notebookuser/notebooks/covid19/data/"+my_input_csv_table
#
# Join with Internal Curation Data in urltopredict staged folder
from pyspark.sql import functions as F
### Scructure
from pyspark.sql.types import StructField,IntegerType,StructType,StringType,FloatType,DoubleType
newDF=[StructField('date',StringType(),True),
       StructField('region',StringType(),True),
       StructField('confirmed',StringType(),True),
       StructField('1_day_change',FloatType(),True),
       StructField('3_day_change',FloatType(),True),
       StructField('7_day_change',FloatType(),True),
       StructField('1_day_change_rate',DoubleType(),True),
       StructField('3_day_change_rate',DoubleType(),True),
       StructField('7_day_change_rate',DoubleType(),True),
       StructField('confirmed_yesterday',FloatType(),True),
       StructField('confirmed_prediction',FloatType(),True),
       StructField('population',FloatType(),True),
       StructField('infected_rate',DoubleType(),True),
       StructField('min',FloatType(),True),
       StructField('max',FloatType(),True),
       StructField('population_percentage_infected_rate_confirmed',DoubleType(),True),
       StructField('population_percentage_factor_9a10_infected_rate_confirmed',DoubleType(),True),
       StructField('delta_new_cases',FloatType(),True),
       StructField('delta_new_cases_per_1M_hab',FloatType(),True),
       StructField('delta_roling_7day_AVG',FloatType(),True),
       StructField('delta_aprox_14day_case_notification_rate_per_100k_hab',FloatType(),True)
       ]
finalStruct=StructType(fields=newDF)
#
dataframe_df1=sqlContext.read.csv(internal_csv_files,header="true",schema=finalStruct)\
.fillna("",subset=['date', 'region'])\
.fillna(0, subset=['1_day_change', '3_day_change', '7_day_change', 'confirmed_yesterday', 'confirmed_prediction', 'population', 'infected_rate', 'min', 'max', 'population_percentage_infected_rate_confirmed', 'population_percentage_factor_9a10_infected_rate_confirmed', 'population_percentage_factor_9a10_infected_rate_confirmed', 'delta_new_cases', 'delta_new_cases_per_1M_hab', 'delta_roling_7day_AVG', 'delta_aprox_14day_case_notification_rate_per_100k_hab'])\
.persist(pyspark.StorageLevel.MEMORY_AND_DISK_2)
#
## as confirmed is null in "today's date" it created a conflict wirh spark hashing
###
##Py4JJavaError: An error occurred while calling o69.collectToPython.
##: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 14.0 failed 1 times, most recent failure: Lost task 0.0 in stage 14.0 (TID 258, localhost, executor driver): org.apache.hadoop.fs.ChecksumException: Checksum error: file:/home/notebookuser/notebooks/data/delta_daily-covid19-global-analysis/part-00002-eb251372-48d4-46e2-a41c-36ec8e3284e0-c000.snappy.parquet at 0 exp: 4760148 got: -1297451656
##	at org.apache.hadoop.fs.FSInputChecker.verifySums(FSInputChecker.java:323)
##	at org.apache.hadoop.fs.FSInputChecker.readChecksumChunk(FSInputChecker.java:279)
##	at org.apache.hadoop.fs.FSInputChecker.fill(FSInputChecker.java:214)
##	at org.apache.hadoop.fs.FSInputChecker.read1(FSInputChecker.java:232)
###    
columns_to_drop = ['1_day_change_rate', '3_day_change_rate', '7_day_change_rate', 'infected_rate', 'min', 'max']
#
dataframe_df1.printSchema()
dataframe_df1.drop(*columns_to_drop).show(5)
df2=dataframe_df1.drop(*columns_to_drop)
df2.write.mode('overwrite').format("delta").save(delta_location_covid19)
###
####
#sc.stop()
#
print("Data Load Done!")
#

root
 |-- date: string (nullable = false)
 |-- region: string (nullable = false)
 |-- confirmed: string (nullable = true)
 |-- 1_day_change: float (nullable = false)
 |-- 3_day_change: float (nullable = false)
 |-- 7_day_change: float (nullable = false)
 |-- 1_day_change_rate: double (nullable = true)
 |-- 3_day_change_rate: double (nullable = true)
 |-- 7_day_change_rate: double (nullable = true)
 |-- confirmed_yesterday: float (nullable = false)
 |-- confirmed_prediction: float (nullable = false)
 |-- population: float (nullable = false)
 |-- infected_rate: double (nullable = false)
 |-- min: float (nullable = false)
 |-- max: float (nullable = false)
 |-- population_percentage_infected_rate_confirmed: double (nullable = false)
 |-- population_percentage_factor_9a10_infected_rate_confirmed: double (nullable = false)
 |-- delta_new_cases: float (nullable = false)
 |-- delta_new_cases_per_1M_hab: float (nullable = false)
 |-- delta_roling_7day_AVG: float (nullable = false)
 |-- delta_aprox_14day_case_notification_rate_per_100k_hab: float (nullable = false)

+----------+---------------+---------+------------+------------+------------+-------------------+--------------------+----------+---------------------------------------------+---------------------------------------------------------+---------------+--------------------------+---------------------+-----------------------------------------------------+
|      date|         region|confirmed|1_day_change|3_day_change|7_day_change|confirmed_yesterday|confirmed_prediction|population|population_percentage_infected_rate_confirmed|population_percentage_factor_9a10_infected_rate_confirmed|delta_new_cases|delta_new_cases_per_1M_hab|delta_roling_7day_AVG|delta_aprox_14day_case_notification_rate_per_100k_hab|
+----------+---------------+---------+------------+------------+------------+-------------------+--------------------+----------+---------------------------------------------+---------------------------------------------------------+---------------+--------------------------+---------------------+-----------------------------------------------------+
|2020-01-22|Afghanistan_nan|        0|         0.0|         0.0|         0.0|                0.0|                 0.0|   3.553E7|                         2.814522859146555...|                                     2.814522859146555...|            0.0|                       0.0|                  0.0|                                                  0.0|
|2020-01-23|Afghanistan_nan|        0|         0.0|         0.0|         0.0|                0.0|                 0.0|   3.553E7|                         2.814522859146555...|                                     2.814522859146555...|            0.0|                       0.0|                  0.0|                                                  0.0|
|2020-01-24|Afghanistan_nan|        0|         0.0|         0.0|         0.0|                0.0|                 0.0|   3.553E7|                         2.814522859146555...|                                     2.814522859146555...|            0.0|                       0.0|                  0.0|                                                  0.0|
|2020-01-25|Afghanistan_nan|        0|         0.0|         0.0|         0.0|                0.0|                 0.0|   3.553E7|                         2.814522859146555...|                                     2.814522859146555...|            0.0|                       0.0|                  0.0|                                                  0.0|
|2020-01-26|Afghanistan_nan|        0|         0.0|         0.0|         0.0|                0.0|                 0.0|   3.553E7|                         2.814522859146555...|                                     2.814522859146555...|            0.0|                       0.0|                  0.0|                                                  0.0|
+----------+---------------+---------+------------+------------+------------+-------------------+--------------------+----------+---------------------------------------------+---------------------------------------------------------+---------------+--------------------------+---------------------+-----------------------------------------------------+
only showing top 5 rows

Data Load Done!

In [3]:
##############################
###### Load The Delta   ######
##############################
###
### Input delta in folder :  /data 
my_input_delta_table="delta_daily-covid19-global-analysis"
###
######
##############################Execution##########################
import findspark
findspark.init()
#
import pyspark
from pyspark.sql import functions as pfunc
from pyspark.sql import SQLContext
from pyspark.sql import Window, types
import re
import pandas as pd
import numpy as np
from pandas import DataFrame
from pyspark.sql.types import IntegerType
from pyspark.sql.types import FloatType
from pyspark.sql.functions import udf
from pyspark.sql.functions import *
from scipy.stats import kstest
from scipy import stats
#
import subprocess
#
#sc = pyspark.SparkContext(appName="Daily-Covid19-Analysis-Delta")
#sqlContext = SQLContext(sc)
#
#
internal_delta_files="file:///home/notebookuser/notebooks/data/"+my_input_delta_table
#
# Join with Internal Curation Data in urltopredict staged folder
from pyspark.sql import functions as F
delta_dataframe_df1=sqlContext.read.format("delta").load(internal_delta_files)\
.persist(pyspark.StorageLevel.MEMORY_AND_DISK_2)
#
## ,schema=finalStruct)\
## Py4JJavaError: An error occurred while calling o48.load.
## : org.apache.spark.sql.AnalysisException: delta does not allow user-specified schemas.;
##      	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:325)
#
delta_dataframe_df1.printSchema()
delta_dataframe_df1.registerTempTable("covid19_jh_analysis")
#
#
print("Delta temp table registration Done!")
#

root
 |-- date: string (nullable = true)
 |-- region: string (nullable = true)
 |-- confirmed: string (nullable = true)
 |-- 1_day_change: float (nullable = true)
 |-- 3_day_change: float (nullable = true)
 |-- 7_day_change: float (nullable = true)
 |-- confirmed_yesterday: float (nullable = true)
 |-- confirmed_prediction: float (nullable = true)
 |-- population: float (nullable = true)
 |-- population_percentage_infected_rate_confirmed: double (nullable = true)
 |-- population_percentage_factor_9a10_infected_rate_confirmed: double (nullable = true)
 |-- delta_new_cases: float (nullable = true)
 |-- delta_new_cases_per_1M_hab: float (nullable = true)
 |-- delta_roling_7day_AVG: float (nullable = true)
 |-- delta_aprox_14day_case_notification_rate_per_100k_hab: float (nullable = true)

Delta temp table registration Done!

In [4]:
%%sql_display
select * from covid19_jh_analysis  order by date desc limit 5

,date,region,confirmed,1_day_change,3_day_change,7_day_change,confirmed_yesterday,confirmed_prediction,population,population_percentage_infected_rate_confirmed,population_percentage_factor_9a10_infected_rate_confirmed,delta_new_cases,delta_new_cases_per_1M_hab,delta_roling_7day_AVG,delta_aprox_14day_case_notification_rate_per_100k_hab
0,2020-10-27,Rwanda_nan,0,7.0,21.0,81.0,5073.0,5090.0,10000000.0,0.000507,0.005074,17.0,1.700000,11.571428,1.620000
1,2020-10-27,San Marino_nan,0,33.0,33.0,86.0,852.0,855.0,33916.0,0.025150,0.251496,3.0,88.453827,12.285714,507.135284
2,2020-10-27,Saint Kitts and Nevis_nan,0,0.0,0.0,0.0,19.0,19.0,10000000.0,0.000002,0.000020,0.0,0.000000,0.000000,0.000000
3,2020-10-27,Qatar_nan,0,262.0,721.0,1761.0,131432.0,131683.0,2870256.0,0.045791,0.457914,251.0,87.448647,251.571426,122.706825
4,2020-10-27,Saint Lucia_nan,0,9.0,15.0,27.0,63.0,64.0,10000000.0,0.000006,0.000064,1.0,0.100000,3.857143,0.540000

In [5]:
%%sql_display
select * from covid19_jh_analysis  order by date limit 5

,date,region,confirmed,1_day_change,3_day_change,7_day_change,confirmed_yesterday,confirmed_prediction,population,population_percentage_infected_rate_confirmed,population_percentage_factor_9a10_infected_rate_confirmed,delta_new_cases,delta_new_cases_per_1M_hab,delta_roling_7day_AVG,delta_aprox_14day_case_notification_rate_per_100k_hab
0,2020-01-22,Rwanda_nan,0,0.0,0.0,0.0,0.0,0.0,10000000.0,9.999999e-08,9.999999e-07,0.0,0.0,0.0,0.0
1,2020-01-22,San Marino_nan,0,0.0,0.0,0.0,0.0,0.0,33916.0,2.948374e-05,2.948374e-04,0.0,0.0,0.0,0.0
2,2020-01-22,Saint Kitts and Nevis_nan,0,0.0,0.0,0.0,0.0,0.0,10000000.0,9.999999e-08,9.999999e-07,0.0,0.0,0.0,0.0
3,2020-01-22,Russia_nan,0,0.0,0.0,0.0,0.0,0.0,144500000.0,6.920415e-09,6.920415e-08,0.0,0.0,0.0,0.0
4,2020-01-22,Saint Lucia_nan,0,0.0,0.0,0.0,0.0,0.0,10000000.0,9.999999e-08,9.999999e-07,0.0,0.0,0.0,0.0

### The Regions in the World with +80 'notifications per 100k hab. in last 14days' and +300 cases yesterday

In [7]:
%%sql_display
select * from covid19_jh_analysis where region is not null and
    date >= '2020-10-27' and
    1_day_change >= 300 and
    delta_aprox_14day_case_notification_rate_per_100k_hab >= 80
order by region asc
limit 50

,date,region,confirmed,1_day_change,3_day_change,7_day_change,confirmed_yesterday,confirmed_prediction,population,population_percentage_infected_rate_confirmed,population_percentage_factor_9a10_infected_rate_confirmed,delta_new_cases,delta_new_cases_per_1M_hab,delta_roling_7day_AVG,delta_aprox_14day_case_notification_rate_per_100k_hab
0,2020-10-27,Argentina_nan,0,11712.0,32933.0,99639.0,1102301.0,1119069.0,45106700.0,0.024438,0.244377,16768.0,371.740784,14234.142578,441.792450
1,2020-10-27,Armenia_nan,0,973.0,5500.0,13350.0,78810.0,81165.0,2962061.0,0.026607,0.266068,2355.0,795.054504,1907.142822,901.399414
2,2020-10-27,Austria_nan,0,2456.0,8852.0,17340.0,83267.0,85508.0,8822000.0,0.009439,0.094387,2241.0,254.024033,2477.142822,393.108124
3,2020-10-27,Azerbaijan_nan,0,527.0,2265.0,5191.0,50486.0,51286.0,10119557.0,0.004989,0.049891,800.0,79.054848,741.571411,102.593422
4,2020-10-27,Belarus_nan,0,884.0,2540.0,5417.0,93707.0,94377.0,9449974.0,0.009916,0.099162,670.0,70.899666,773.857117,114.645821
5,2020-10-27,Bosnia and Herzegovina_nan,0,703.0,3103.0,6935.0,41596.0,42680.0,3285028.0,0.012663,0.126626,1084.0,329.981964,990.714294,422.218628
6,2020-10-27,Brazil_nan,0,29219.0,56198.0,159127.0,5409854.0,5433387.0,212559008.0,0.025451,0.254511,23533.0,110.712791,22732.427734,149.725021
7,2020-10-27,Bulgaria_nan,0,2243.0,3613.0,9605.0,40132.0,41140.0,6959195.0,0.005767,0.057669,1008.0,144.844345,1372.142822,276.037659
8,2020-10-27,Canada_Alberta,0,1472.0,1472.0,3060.0,25733.0,25667.0,4345737.0,0.005922,0.059217,-66.0,-15.187298,437.142853,140.827667
9,2020-10-27,Canada_Ontario,0,841.0,2844.0,6235.0,73984.0,74708.0,14570000.0,0.005078,0.050779,724.0,49.691147,890.714294,85.586823
10,2020-10-27,Canada_Quebec,0,808.0,2696.0,6493.0,100922.0,102031.0,8485000.0,0.011894,0.118943,1109.0,130.701233,927.571411,153.046555
11,2020-10-27,Chile_nan,0,1535.0,4692.0,10293.0,503598.0,505087.0,19081012.0,0.026393,0.263927,1489.0,78.035690,1470.428589,107.887352
12,2020-10-27,Colombia_nan,0,9167.0,26110.0,59169.0,1025052.0,1032795.0,50765952.0,0.020192,0.201917,7743.0,152.523483,8452.713867,233.105042
13,2020-10-27,Costa Rica_nan,0,1372.0,2634.0,7385.0,104460.0,105568.0,5084128.0,0.020546,0.205465,1108.0,217.933151,1055.000000,290.511963
14,2020-10-27,Croatia_nan,0,828.0,5491.0,11235.0,37208.0,38963.0,4076000.0,0.009129,0.091288,1755.0,430.569183,1605.000000,551.275757
15,2020-10-27,Czechia_nan,0,10273.0,30047.0,86408.0,268370.0,282544.0,10704687.0,0.025070,0.250704,14174.0,1324.092896,12344.000000,1614.395630
16,2020-10-27,Denmark_nan,0,1056.0,2790.0,5568.0,41412.0,41965.0,5790000.0,0.007153,0.071525,553.0,95.509499,795.428589,192.331604
17,2020-10-27,Ecuador_nan,0,543.0,3908.0,8755.0,162178.0,163567.0,17584596.0,0.009223,0.092228,1389.0,78.989586,1250.714233,99.575783
18,2020-10-27,France_nan,0,78515.0,123912.0,254075.0,1172754.0,1184775.0,69990000.0,0.016756,0.167560,12021.0,171.753113,36296.429688,726.032288
19,2020-10-27,Georgia_nan,0,1872.0,5741.0,11640.0,30303.0,31725.0,10520000.0,0.002881,0.028806,1422.0,135.171097,1662.857178,221.292770
20,2020-10-27,Georgia_nan,0,1872.0,5741.0,11640.0,30303.0,31725.0,3990785.0,0.007593,0.075935,1422.0,356.320862,1662.857178,583.343872
21,2020-10-27,Germany_nan,0,12560.0,24148.0,73190.0,450258.0,461026.0,82790000.0,0.005439,0.054386,10768.0,130.064011,10455.713867,176.808792
22,2020-10-27,Greece_nan,0,714.0,2439.0,5694.0,31496.0,32320.0,10740000.0,0.002933,0.029327,824.0,76.722534,813.428589,106.033516
23,2020-10-27,Honduras_nan,0,752.0,2457.0,4585.0,93966.0,94596.0,9904607.0,0.009487,0.094872,630.0,63.606766,655.000000,92.583176
24,2020-10-27,Hungary_nan,0,2316.0,7285.0,13795.0,61563.0,63044.0,9665392.0,0.006370,0.063695,1481.0,153.227097,1970.714233,285.451447
25,2020-10-27,Iran_nan,0,5960.0,17965.0,40225.0,574856.0,580093.0,83993000.0,0.006844,0.068441,5237.0,62.350433,5746.428711,95.781792
26,2020-10-27,Iraq_nan,0,3691.0,9449.0,24720.0,455398.0,459121.0,38270000.0,0.011900,0.118996,3723.0,97.282463,3531.428467,129.187347
27,2020-10-27,Ireland_nan,0,939.0,2806.0,7074.0,58067.0,59145.0,4925877.0,0.011788,0.117884,1078.0,218.844284,1010.571411,287.217896
28,2020-10-27,Israel_nan,0,905.0,2011.0,5975.0,310851.0,311727.0,8712000.0,0.035681,0.356809,876.0,100.550964,853.571411,137.167130
29,2020-10-27,Italy_nan,0,17007.0,57920.0,119211.0,542789.0,558125.0,60480000.0,0.008975,0.089747,15336.0,253.571426,17030.142578,394.216278
30,2020-10-27,Jordan_nan,0,1968.0,6125.0,16118.0,55055.0,57447.0,10203134.0,0.005396,0.053960,2392.0,234.437775,2302.571533,315.942139
31,2020-10-27,Kuwait_nan,0,682.0,2085.0,5485.0,122317.0,123168.0,4137000.0,0.029567,0.295668,851.0,205.704620,783.571411,265.167999
32,2020-10-27,Kyrgyzstan_nan,0,420.0,1582.0,3644.0,56170.0,56750.0,6524195.0,0.008610,0.086096,580.0,88.899857,520.571411,111.707268
33,2020-10-27,Lebanon_nan,0,796.0,3707.0,9242.0,72186.0,73689.0,6831861.0,0.010566,0.105662,1503.0,219.998627,1320.285767,270.555847
34,2020-10-27,Lebanon_nan,0,796.0,3707.0,9242.0,72186.0,73689.0,6082000.0,0.011869,0.118690,1503.0,247.122650,1320.285767,303.913177
35,2020-10-27,Libya_nan,0,1210.0,3839.0,7274.0,57223.0,57979.0,6871292.0,0.008328,0.083280,756.0,110.022980,1039.142822,211.721466
36,2020-10-27,Lithuania_nan,0,765.0,1845.0,3223.0,10949.0,11157.0,2729965.0,0.004011,0.040110,208.0,76.191452,460.428558,236.120239
37,2020-10-27,Luxembourg_nan,0,1548.0,1548.0,3389.0,14399.0,14326.0,623777.0,0.023085,0.230851,-73.0,-117.028999,484.142853,1086.606323
38,2020-10-27,Moldova_nan,0,308.0,1555.0,4509.0,71811.0,72654.0,4035942.0,0.017793,0.177931,843.0,208.873169,644.142883,223.442261
39,2020-10-27,Morocco_nan,0,2264.0,9329.0,23996.0,199745.0,203859.0,36817128.0,0.005425,0.054254,4114.0,111.741470,3428.000000,130.352371
40,2020-10-27,Nepal_nan,0,1741.0,6822.0,23794.0,159830.0,164526.0,29300000.0,0.005455,0.054550,4696.0,160.273041,3399.142822,162.416382
41,2020-10-27,Netherlands_nan,0,10343.0,29196.0,65371.0,301597.0,310050.0,17180000.0,0.017555,0.175552,8453.0,492.025604,9338.713867,761.012817
42,2020-10-27,Oman_nan,0,422.0,1517.0,2760.0,113354.0,113644.0,4636000.0,0.024451,0.244510,290.0,62.553925,394.285706,119.068161
43,2020-10-27,Panama_nan,0,551.0,1885.0,4570.0,129751.0,130440.0,4299739.0,0.030177,0.301767,689.0,160.242279,652.857117,212.571045
44,2020-10-27,Paraguay_nan,0,515.0,1850.0,4657.0,60109.0,60902.0,7111652.0,0.008452,0.084523,793.0,111.507141,665.285706,130.968170
45,2020-10-27,Poland_nan,0,10241.0,35611.0,80681.0,263929.0,275908.0,37980000.0,0.006949,0.069492,11979.0,315.402832,11525.857422,424.860443
46,2020-10-27,Portugal_nan,0,2447.0,8693.0,19273.0,121133.0,124052.0,10290000.0,0.011772,0.117720,2919.0,283.673462,2753.285645,374.596710
47,2020-10-27,Romania_nan,0,2844.0,11460.0,29638.0,212492.0,217583.0,19530000.0,0.010880,0.108803,5091.0,260.675873,4234.000000,303.512543
48,2020-10-27,Russia_nan,0,17148.0,49800.0,114133.0,1520800.0,1536509.0,144500000.0,0.010525,0.105246,15709.0,108.712799,16304.713867,157.969543
49,2020-10-27,Serbia_nan,0,341.0,1712.0,3545.0,39827.0,40349.0,8744671.0,0.004555,0.045545,522.0,59.693497,506.428558,81.077950

In [8]:
%%sql_display
select * from covid19_jh_analysis where region > 'Serbia_nan' and
    date >= '2020-10-27' and
    1_day_change >= 300 and
    delta_aprox_14day_case_notification_rate_per_100k_hab >= 80
order by region asc
limit 50

,date,region,confirmed,1_day_change,3_day_change,7_day_change,confirmed_yesterday,confirmed_prediction,population,population_percentage_infected_rate_confirmed,population_percentage_factor_9a10_infected_rate_confirmed,delta_new_cases,delta_new_cases_per_1M_hab,delta_roling_7day_AVG,delta_aprox_14day_case_notification_rate_per_100k_hab
0,2020-10-27,Slovakia_nan,0,1312.0,7244.0,14460.0,45155.0,47384.0,5459087.0,0.008272,0.082717,2229.0,408.310028,2065.714355,529.758911
1,2020-10-27,Slovenia_nan,0,1130.0,4773.0,10401.0,24080.0,25638.0,2078878.0,0.011584,0.115836,1558.0,749.442749,1485.857178,1000.635925
2,2020-10-27,Spain_nan,0,52188.0,52188.0,123871.0,1098320.0,1100715.0,46660000.0,0.023539,0.235388,2395.0,51.328762,17695.857422,530.951538
3,2020-10-27,Switzerland_nan,0,17440.0,17440.0,37934.0,121093.0,120679.0,8570000.0,0.014130,0.141300,-414.0,-48.308052,5419.143066,885.274231
4,2020-10-27,Tunisia_nan,0,3600.0,5185.0,9672.0,52399.0,52798.0,11791968.0,0.004444,0.044437,399.0,33.836590,1381.714233,164.043869
5,2020-10-27,Ukraine_nan,0,5625.0,19306.0,47061.0,359348.0,366701.0,43787980.0,0.008207,0.082066,7353.0,167.922806,6723.000000,214.949402
6,2020-10-27,United Arab Emirates_nan,0,1111.0,3961.0,9717.0,126234.0,127777.0,9400000.0,0.013429,0.134293,1543.0,164.148941,1388.142822,206.744675
7,2020-10-27,United Kingdom_nan,0,20890.0,63692.0,153478.0,894690.0,916974.0,66440000.0,0.013466,0.134661,22284.0,335.400360,21925.427734,462.004822
8,2020-10-27,United States_nan,0,66784.0,211291.0,489769.0,8702750.0,8775155.0,327200000.0,0.026598,0.265976,72405.0,221.286682,69967.000000,299.369812
9,2020-10-27,West Bank and Gaza_nan,0,510.0,1373.0,3336.0,50952.0,51403.0,4543126.0,0.011215,0.112154,451.0,99.270851,476.571442,146.859238

### Regions of Risk where population.csv has not been fullfiled and may compromise ratios

In [9]:
%%sql_display
select * from covid19_jh_analysis where region is not null and
    date >= '2020-10-27' and
    1_day_change >= 300 and
    delta_aprox_14day_case_notification_rate_per_100k_hab >= 80 and
    population >= 10000000 and population <= 10000000
order by region asc
limit 50

Empty DataFrame
Columns: [date, region, confirmed, 1_day_change, 3_day_change, 7_day_change, confirmed_yesterday, confirmed_prediction, population, population_percentage_infected_rate_confirmed, population_percentage_factor_9a10_infected_rate_confirmed, delta_new_cases, delta_new_cases_per_1M_hab, delta_roling_7day_AVG, delta_aprox_14day_case_notification_rate_per_100k_hab]
Index: []

In [10]:
%%sql_display
select * from covid19_jh_analysis where region is not null and
    date >= '2020-10-27' and
    1_day_change >= 100 and
    delta_aprox_14day_case_notification_rate_per_100k_hab >= 50 and
    population >= 10000000 and population <= 10000000
order by region asc
limit 50

Empty DataFrame
Columns: [date, region, confirmed, 1_day_change, 3_day_change, 7_day_change, confirmed_yesterday, confirmed_prediction, population, population_percentage_infected_rate_confirmed, population_percentage_factor_9a10_infected_rate_confirmed, delta_new_cases, delta_new_cases_per_1M_hab, delta_roling_7day_AVG, delta_aprox_14day_case_notification_rate_per_100k_hab]
Index: []

### Regions where population.cav has not been fulfilled and model has default 10,000,000 hab.

In [11]:
%%sql_display
select distinct(region) from covid19_jh_analysis where population >= 10000000 and population <= 10000000

                                    region
0                     Papua New Guinea_nan
1                                Gabon_nan
2                           Madagascar_nan
3                      Solomon Islands_nan
4                               Kosovo_nan
5                                Yemen_nan
6                               Rwanda_nan
7    United Kingdom_British Virgin Islands
8                       Australia_Tasmania
9                     France_New Caledonia
10                            Suriname_nan
11                              Angola_nan
12                     Netherlands_Curacao
13                               Sudan_nan
14                               Benin_nan
15                          Mauritania_nan
16                          Tajikistan_nan
17                   Canada_Grand Princess
18                              Belize_nan
19                 France_French Polynesia
20                 Trinidad and Tobago_nan
21                            Mongolia_nan
22                          Seychelles_nan
23                          France_Mayotte
24                            Canada_Yukon
25                              Uganda_nan
26                    Congo (Kinshasa)_nan
27                   Equatorial Guinea_nan
28                       France_Martinique
29               Saint Kitts and Nevis_nan
30                 Congo (Brazzaville)_nan
31  Australia_Australian Capital Territory
32                             Bolivia_nan
33                            Maldives_nan
34            Australia_Northern Territory
35                 United Kingdom_Anguilla
36                            Eswatini_nan
37                             Comoros_nan
38                  United Kingdom_Bermuda
39                         Timor-Leste_nan
40                           Mauritius_nan
41                       France_Guadeloupe
42                 Antigua and Barbuda_nan
43                                Fiji_nan
44                             Somalia_nan
45                             Bahamas_nan
46                                Chad_nan
47                              Bhutan_nan
48                       Denmark_Greenland
49                           Nicaragua_nan

In [13]:
%%sql_display
select distinct(region) from covid19_jh_analysis 
where where region is not null and
    date >= '2020-10-27' and population >= 10000000 and population <= 10000000 order by region asc

                                    region
0                               Angola_nan
1                  Antigua and Barbuda_nan
2   Australia_Australian Capital Territory
3             Australia_Northern Territory
4                       Australia_Tasmania
5              Australia_Western Australia
6                              Bahamas_nan
7                             Barbados_nan
8                               Belize_nan
9                                Benin_nan
10                              Bhutan_nan
11                             Bolivia_nan
12                            Botswana_nan
13                              Brunei_nan
14                             Burundi_nan
15                          Cabo Verde_nan
16                 Canada_Diamond Princess
17                   Canada_Grand Princess
18                         Canada_Manitoba
19                    Canada_New Brunswick
20        Canada_Newfoundland and Labrador
21            Canada_Northwest Territories
22                      Canada_Nova Scotia
23             Canada_Prince Edward Island
24                     Canada_Saskatchewan
25                            Canada_Yukon
26            Central African Republic_nan
27                                Chad_nan
28                             Comoros_nan
29                 Congo (Brazzaville)_nan
30                    Congo (Kinshasa)_nan
31                   Denmark_Faroe Islands
32                       Denmark_Greenland
33                    Diamond Princess_nan
34                            Djibouti_nan
35                            Dominica_nan
36                         El Salvador_nan
37                   Equatorial Guinea_nan
38                             Eritrea_nan
39                            Eswatini_nan
40                                Fiji_nan
41                    France_French Guiana
42                 France_French Polynesia
43                       France_Guadeloupe
44                       France_Martinique
45                          France_Mayotte
46                    France_New Caledonia
47                          France_Reunion
48                 France_Saint Barthelemy
49        France_Saint Pierre and Miquelon

In [14]:
%%sql_display
select distinct(region) from covid19_jh_analysis 
where where date >= '2020-10-27' and region > 'France_Saint Pierre and Miquelon' and
     population >= 10000000 and population <= 10000000 order by region asc

                                          region
0                               France_St Martin
1                                      Gabon_nan
2                                     Gambia_nan
3                                    Grenada_nan
4                              Guinea-Bissau_nan
5                                     Guinea_nan
6                                     Guyana_nan
7                                      Haiti_nan
8                                    Jamaica_nan
9                                     Kosovo_nan
10                                      Laos_nan
11                                   Lesotho_nan
12                                   Liberia_nan
13                                MS Zaandam_nan
14                                Madagascar_nan
15                                    Malawi_nan
16                                  Maldives_nan
17                                      Mali_nan
18                                     Malta_nan
19                                Mauritania_nan
20                                 Mauritius_nan
21                                  Mongolia_nan
22                                Montenegro_nan
23                                Mozambique_nan
24                                   Namibia_nan
25                             Netherlands_Aruba
26  Netherlands_Bonaire, Sint Eustatius and Saba
27                           Netherlands_Curacao
28                      Netherlands_Sint Maarten
29                                 Nicaragua_nan
30                                   Nigeria_nan
31                          Papua New Guinea_nan
32                                    Rwanda_nan
33                     Saint Kitts and Nevis_nan
34                               Saint Lucia_nan
35          Saint Vincent and the Grenadines_nan
36                     Sao Tome and Principe_nan
37                                   Senegal_nan
38                                Seychelles_nan
39                              Sierra Leone_nan
40                           Solomon Islands_nan
41                                   Somalia_nan
42                               South Sudan_nan
43                                     Sudan_nan
44                                  Suriname_nan
45                                     Syria_nan
46                                Tajikistan_nan
47                                  Tanzania_nan
48                               Timor-Leste_nan
49                                      Togo_nan

In [16]:
%%sql_display
select distinct(region) from covid19_jh_analysis 
where where date >= '2020-10-27' and region > 'Togo_nan' and
     population >= 10000000 and population <= 10000000 order by region asc

                                    region
0                  Trinidad and Tobago_nan
1                               Uganda_nan
2                  United Kingdom_Anguilla
3                   United Kingdom_Bermuda
4    United Kingdom_British Virgin Islands
5            United Kingdom_Cayman Islands
6  United Kingdom_Turks and Caicos Islands
7                       Western Sahara_nan
8                                Yemen_nan
9                               Zambia_nan

In [17]:
#
print("Analysis Done!")
#

Analysis Done!

In [18]:
sc.stop()

In [19]:
exit()

ERROR:root:Invalid alias: The name clear can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name more can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name less can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name man can't be aliased because it is another magic command.