In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# CoronaVirus Prediction

In [1]:
# Get data from Github
import numpy as np
from math import sqrt
from sklearn.metrics import mean_squared_error
import pandas as pd

#url_1 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
url_1 = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
confirmed = pd.read_csv(url_1, error_bad_lines=False)

#url_2 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv'
url_2 = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
death = pd.read_csv(url_2, error_bad_lines=False)

#url_3 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv'
url_3 = 'https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
recover = pd.read_csv(url_3, error_bad_lines=False)


# fix region names
confirmed['Country/Region']= confirmed['Country/Region'].str.replace("Mainland China", "China")
confirmed['Country/Region']= confirmed['Country/Region'].str.replace("US", "Unites States")


death['Country/Region']= death['Country/Region'].str.replace("Mainland China", "China")
death['Country/Region']= death['Country/Region'].str.replace("US", "Unites States")

recover['Country/Region']= recover['Country/Region'].str.replace("Mainland China", "China")
recover['Country/Region']= recover['Country/Region'].str.replace("US", "Unites States")

In [2]:
confirmed.iloc[:34,:]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,21,22,22,22,24,24,40,40,74,84
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,51,55,59,64,70,76,89,104,123,146
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,54,60,74,87,90,139,201,230,264,302
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,2,39,39,53,75,88,113,133,164,188
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,1,2,2,3,3,3
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,1,1,1,1,1,1,1,3,3,3
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,56,68,79,97,128,158,266,301,387,387
7,NaN,Armenia,40.0691,45.0382,0,0,0,0,0,0,...,52,78,84,115,136,160,194,235,249,265
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,2,2,3,4,6,9,19,32,39,39
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,171,210,267,307,353,436,669,669,818,1029
10,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,1,1,1,1,3,3,5,5,6,6
11,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,68,78,94,144,184,221,259,319,397,443
12,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,29,29,37,42,50,67,100,134,170,170
13,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,7,7,10,10,10,16,22,28,28,36
14,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,71,94,121,121,121,229,355,355,411,466
15,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,...,28,31,35,52,64,90,120,140,175,175
16,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,1018,1332,1646,2013,2388,2814,3582,4474,5283,5588
17,NaN,Azerbaijan,40.1431,47.5769,0,0,0,0,0,0,...,28,28,28,44,44,53,65,72,87,93
18,NaN,Bahamas,25.0343,-77.3963,0,0,0,0,0,0,...,1,1,1,3,3,4,4,4,5,5
19,NaN,Bahrain,26.0275,50.5500,0,0,0,0,0,0,...,214,228,256,278,285,305,334,377,392,419
20,NaN,Bangladesh,23.6850,90.3563,0,0,0,0,0,0,...,8,10,14,17,20,25,27,33,39,39
21,NaN,Barbados,13.1939,-59.5432,0,0,0,0,0,0,...,0,2,2,5,5,6,14,17,18,18
22,NaN,Belarus,53.7098,27.9534,0,0,0,0,0,0,...,36,36,51,51,69,76,76,81,81,86
23,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,1058,1243,1486,1795,2257,2815,3401,3743,4269,4937
24,NaN,Benin,9.3077,2.3158,0,0,0,0,0,0,...,1,1,2,2,2,2,2,5,6,6
25,NaN,Bhutan,27.5142,90.4336,0,0,0,0,0,0,...,1,1,1,1,2,2,2,2,2,2
26,NaN,Bolivia,-16.2902,-63.5887,0,0,0,0,0,0,...,11,11,12,12,15,19,24,27,29,32
27,NaN,Bosnia and Herzegovina,43.9159,17.6791,0,0,0,0,0,0,...,25,26,38,63,89,93,126,136,166,176
28,NaN,Brazil,-14.2350,-51.9253,0,0,0,0,0,0,...,200,321,372,621,793,1021,1546,1924,2247,2554
29,NaN,Brunei,4.5353,114.7277,0,0,0,0,0,0,...,54,56,68,75,78,83,88,91,104,109
30,NaN,Bulgaria,42.7339,25.4858,0,0,0,0,0,0,...,52,67,92,94,127,163,187,201,218,242
31,NaN,Burkina Faso,12.2383,-1.5616,0,0,0,0,0,0,...,15,15,20,33,40,64,75,99,114,146
32,NaN,Cabo Verde,16.5388,-23.0418,0,0,0,0,0,0,...,0,0,0,0,1,3,3,3,3,4
33,NaN,Cambodia,11.5500,104.9167,0,0,0,0,0,1,...,7,33,35,37,51,53,84,87,91,96

In [3]:
death.iloc[:34,:]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,2
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1,1,2,2,2,2,2,4,5,5
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,4,4,7,9,11,15,17,17,19,21
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,2,2,2,3,3,4,4,4,6,8
7,NaN,Armenia,40.0691,45.0382,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,0,0,...,2,4,5,5,6,6,6,6,7,7
10,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Victoria,Australia,-37.8136,144.9631,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
16,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,3,3,4,6,6,8,16,21,28,30
17,NaN,Azerbaijan,40.1431,47.5769,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,2
18,NaN,Bahamas,25.0343,-77.3963,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,NaN,Bahrain,26.0275,50.5500,0,0,0,0,0,0,...,1,1,1,1,1,1,2,2,3,4
20,NaN,Bangladesh,23.6850,90.3563,0,0,0,0,0,0,...,0,0,1,1,1,2,2,3,4,5
21,NaN,Barbados,13.1939,-59.5432,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,NaN,Belarus,53.7098,27.9534,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,5,10,14,21,37,67,75,88,122,178
24,NaN,Benin,9.3077,2.3158,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,NaN,Bhutan,27.5142,90.4336,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,NaN,Bolivia,-16.2902,-63.5887,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,NaN,Bosnia and Herzegovina,43.9159,17.6791,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,3,3
28,NaN,Brazil,-14.2350,-51.9253,0,0,0,0,0,0,...,0,1,3,6,11,15,25,34,46,59
29,NaN,Brunei,4.5353,114.7277,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,NaN,Bulgaria,42.7339,25.4858,0,0,0,0,0,0,...,2,2,2,3,3,3,3,3,3,3
31,NaN,Burkina Faso,12.2383,-1.5616,0,0,0,0,0,0,...,0,0,1,1,1,2,4,4,4,4
32,NaN,Cabo Verde,16.5388,-23.0418,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
33,NaN,Cambodia,11.5500,104.9167,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
recover.iloc[130:180,:]

,Province/State,Country/Region,Lat,Long,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,3/15/2020,3/16/2020,3/17/2020,3/18/2020,3/19/2020,3/20/2020,3/21/2020,3/22/2020,3/23/2020,3/24/2020
130,NaN,Israel,31.0000,35.000000,0,0,0,0,0,0,...,4,4,11,11,11,14,36,37,37,53
131,NaN,Italy,43.0000,12.000000,0,0,0,0,0,0,...,2335,2749,2941,4025,4440,4440,6072,7024,7024,8326
132,NaN,Jamaica,18.1096,-77.297500,0,0,0,0,0,0,...,0,2,2,2,2,2,2,2,2,2
133,NaN,Japan,36.0000,138.000000,0,0,0,0,1,1,...,118,144,144,144,150,191,232,235,235,285
134,NaN,Jordan,31.2400,36.510000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
135,NaN,Kazakhstan,48.0196,66.923700,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
136,NaN,Kenya,-0.0236,37.906200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137,NaN,"Korea, South",36.0000,128.000000,0,0,0,0,0,0,...,510,1137,1407,1540,1540,1540,1540,2909,2909,3507
138,NaN,Kosovo,42.6026,20.903000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
139,NaN,Kuwait,29.5000,47.750000,0,0,0,0,0,0,...,5,9,9,15,18,18,27,27,27,39
140,NaN,Kyrgyzstan,41.2044,74.766100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
141,NaN,Latvia,56.8796,24.603200,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
142,NaN,Lebanon,33.8547,35.862300,0,0,0,0,0,0,...,1,1,3,3,4,4,4,8,8,8
143,NaN,Liberia,6.4281,-9.429500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
144,NaN,Libya,26.3351,17.228331,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145,NaN,Liechtenstein,47.1400,9.550000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146,NaN,Lithuania,55.1694,23.881300,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
147,NaN,Luxembourg,49.8153,6.129600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6,6,6
148,NaN,Madagascar,-18.7669,46.869100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
149,NaN,Malaysia,2.5000,112.500000,0,0,0,0,0,0,...,42,42,49,60,75,87,114,139,139,183
150,NaN,Maldives,3.2028,73.220700,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
151,NaN,Malta,35.9375,14.375400,0,0,0,0,0,0,...,1,2,2,2,2,2,2,2,2,2
152,Martinique,France,14.6415,-61.024200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
153,NaN,Mauritania,21.0079,10.940800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
154,NaN,Mauritius,-20.2000,57.500000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
155,NaN,Mexico,23.6345,-102.552800,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
156,NaN,Moldova,47.4116,28.369900,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,2
157,NaN,Monaco,43.7333,7.416700,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
158,NaN,Mongolia,46.8625,103.846700,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
159,NaN,Montenegro,42.5000,19.300000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
160,NaN,Morocco,31.7917,-7.092600,0,0,0,0,0,0,...,1,1,1,1,1,1,3,3,3,6
161,NaN,Mozambique,-18.6657,35.529600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
162,NaN,Namibia,-22.9576,18.490400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
163,NaN,Nepal,28.1667,84.250000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
164,Aruba,Netherlands,12.5186,-70.035800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
165,Curacao,Netherlands,12.1696,-68.990000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
166,NaN,Netherlands,52.1326,5.291300,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
167,Sint Maarten,Netherlands,18.0425,-63.054800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
168,NaN,New Zealand,-40.9006,174.886000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12
169,NaN,Nicaragua,12.8654,-85.207200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
170,NaN,Niger,17.6078,8.081700,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
171,NaN,Nigeria,9.0820,8.675300,0,0,0,0,0,0,...,0,0,0,1,1,1,1,2,2,2
172,NaN,North Macedonia,41.6086,21.745300,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
173,NaN,Norway,60.4720,8.468900,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,6
174,NaN,Oman,21.0000,57.000000,0,0,0,0,0,0,...,9,9,9,12,12,12,12,17,17,17
175,NaN,Pakistan,30.3753,69.345100,0,0,0,0,0,0,...,2,2,2,2,13,13,13,5,5,18
176,NaN,Panama,8.5380,-80.782100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
177,NaN,Papua New Guinea,-6.3150,143.955500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
178,NaN,Paraguay,-23.4425,-58.443800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179,NaN,Peru,-9.1900,-75.015200,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1